body {
    font-family: Arial, sans-serif;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  .section {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    position: relative;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  
  .section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #db3131;
    padding: 5px;
    border: 1px solid black;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .section {
      width: 49%;
      margin-bottom: 10px;
    }
  
    .section:nth-child(3) {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .section {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  